@font-face {
	font-family: Agbalumo;
	src: url(../fonts/Agbalumo-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Agbalumo;
	font-size: 1.25em;
	cursor: url(../images/car_cursor.png), default;
}

header {
	text-align: center;
	padding: 16px 0;
	background-color: #2ed573;
	color: #ffffff;
}

.container {
	display: flex;
	min-height: 75vh;
}

aside {
	padding: 24px 32px;
}

.menu {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	position: sticky;
	top: 16px;
}

.vr {
	width: 5px;
	background-color: #2ed573;
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	text-align: center;
	padding: 16px 0;
	background-color: #212529;
	color: #ffffff;
}
